In [45]:
import pandas as pd
import tensorflow as tf
import sklearn
import scikeras

In [46]:
pd.__version__, tf.__version__, sklearn.__version__, scikeras.__version__

('2.2.3', '2.16.1', '1.5.2', '0.13.0')

In [47]:
import time
from scikeras.wrappers import KerasRegressor
from tensorflow.keras import backend as k
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn import metrics

In [48]:
inicio = time.time()

In [49]:
inicio

1739285014.8340654

In [50]:
base = pd.read_csv('C:/Users/nanojau/OneDrive/Documentos/CURSOS/DeepLearningWithPythonUdemy/autos.csv',encoding='ISO-8859-1')
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [51]:
base = base.drop('dateCrawled', axis=1)
base = base.drop('dateCreated', axis=1)
base = base.drop('nrOfPictures', axis=1)
base = base.drop('postalCode', axis=1)
base = base.drop('lastSeen', axis=1)
base = base.drop('name', axis=1)
base = base.drop('seller', axis=1)
base = base.drop('offerType', axis=1)

In [52]:
base = base[base.price > 10]
base = base.loc[base.price < 350000]

In [53]:
valores = {'vehicleType': 'limousine',
           'gearbox': 'manuell',
           'model': 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}
base = base.fillna(value=valores)

In [54]:
X = base.iloc[:, 1:12].values
y = base.iloc[:, 0].values

In [55]:
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0, 1, 3, 5, 8, 9, 10])], remainder='passthrough')
X = onehotencoder.fit_transform(X).toarray()

In [56]:
X.shape

(359291, 316)

In [57]:
def criar_rede():
    k.clear_session()
    regressor = Sequential([
        tf.keras.layers.InputLayer(shape=(316,)),
        tf.keras.layers.Dense(units=158, activation='relu'),
        tf.keras.layers.Dense(units=158, activation='relu'),
        tf.keras.layers.Dense(units=1, activation='linear')])
    regressor.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
    return regressor

In [58]:
regresor = KerasRegressor(model = criar_rede, epochs=100, batch_size=300)

In [ ]:
resultados = cross_val_score(estimator = regresor, X = X,y = y, cv = 5, scoring = 'neg_mean_absolute_error')

Epoch 1/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 4433.4927 - mean_absolute_error: 4433.4927
Epoch 2/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3511.0151 - mean_absolute_error: 3511.0151
Epoch 3/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3406.2437 - mean_absolute_error: 3406.2437
Epoch 4/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3246.5376 - mean_absolute_error: 3246.5376
Epoch 5/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3050.6904 - mean_absolute_error: 3050.6904
Epoch 6/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2903.3857 - mean_absolute_error: 2903.3857
Epoch 7/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2834.9888 - mean_absolute_error: 2834.9888
Epoch 8/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2766.2083 - mean_absolute_error: 2766.2083
Epoch 9/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2745.6033 - mean_absolute_error: 2745.6033
Epoch 10/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2685.3264 - mean_absolute_error: 2685.3267
Epoch 11/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2671.9907 - mean_absolute_error: 2671.9907
Epoch 12/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2622.1982 - mean_absolute_error: 2622.1982
Epoch 13/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2594.7573 - mean_absolute_error: 2594.7573
Epoch 14/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2567.4338 - mean_absolute_error: 2567.4338
Epoch 15/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2551.5374 - mean_absolute_error: 2551.5374
Epoch 16/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2533.6406 - mean_absolute_error: 2533.6406
Epoch 17/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2513.0854 - mean_absolute_error: 2513.0854
Epoch 18/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2501.2629 - mean_absolute_error: 2501.2632
Epoch 19/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 2467.6091 - mean_absolute_error: 2467.6091
Epoch 20/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2465.5195 - mean_absolute_error: 2465.5195
Epoch 21/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2439.2058 - mean_absolute_error: 2439.2056
Epoch 22/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2417.0627 - mean_absolute_error: 2417.0627
Epoch 23/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2442.0156 - mean_absolute_error: 2442.0156
Epoch 24/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2443.7664 - mean_absolute_error: 2443.7664
Epoch 25/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2417.5559 - mean_absolute_error: 2417.5559
Epoch 26/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2405.5430 - mean_absolute_error: 2405.5430
Epoch 27/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2428.2966 - mean_absolute_error: 2428.2966
Epoch 28/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2413.0723 - mean_absolute_error: 2413.0725
Epoch 29/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2396.0950 - mean_absolute_error: 2396.0950
Epoch 30/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2395.4246 - mean_absolute_error: 2395.4246
Epoch 31/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2407.7761 - mean_absolute_error: 2407.7761
Epoch 32/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2377.0310 - mean_absolute_error: 2377.0310
Epoch 33/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2397.5610 - mean_absolute_error: 2397.5610
Epoch 34/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2373.9268 - mean_absolute_error: 2373.9268
Epoch 35/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2385.8184 - mean_absolute_error: 2385.8184
Epoch 36/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2400.7642 - mean_absolute_error: 2400.7644
Epoch 37/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2384.2178 - mean_absolute_error: 2384.2178
Epoch 38/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2364.3271 - mean_absolute_error: 2364.3271
Epoch 39/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2385.6687 - mean_absolute_error: 2385.6687
Epoch 40/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2379.0886 - mean_absolute_error: 2379.0886
Epoch 41/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2337.7188 - mean_absolute_error: 2337.7188
Epoch 42/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2333.1987 - mean_absolute_error: 2333.1985
Epoch 43/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2332.3494 - mean_absolute_error: 2332.3491
Epoch 44/100
959/959 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2371.5544 - mean_absolute_error: 2371.5544
Epoch 45/100
916/959 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2353.1274 - mean_absolute_error: 2353.1274

In [ ]:
fim = time.time()

In [ ]:
(fim - inicio)/60/60

In [ ]:
resultados

In [ ]:
abs(resultados)